/* You can add global styles to this file, and also import other style files */
body{
    background:  url(./assets/imgs/waves.jpg) center center fixed no-repeat;
    background-size: cover;
}
.inner{
    width: 100%;
    height: auto;
    background-color: transparent;
    color: white;
    margin: 10px;
}